<div class="wrapper_show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo.path, :width=>2000, :crop=>"scale" %>');">
  <div class="content_show">
    <div class="description_show">
      <h2> The <%=@cocktail.name %>  </h2>
    </div>
  </div>
</div>
<h2>The cocktail need : </h2>
<ul>
  <%@cocktail.doses.each do |dose|%>
  <p> <%= dose.description %> of <%=dose.ingredient.name%></p>
  <%= link_to 'Delete dose', dose_path(dose), method: :delete  %>
  <% end %>
</ul>

 <p> <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary'  %></p>
  <%= link_to 'Back to home', cocktails_path,  class: 'btn btn-primary' %>

