<h1>The <%=@cocktail.name %> : </h1>

<ul>
  <%@cocktail.doses.each do |dose|%>
  <p>The cocktail need <%= dose.description %> of <%=dose.ingredient.name%></p>
  <%= link_to 'Delete dose', dose_path(dose), method: :delete  %>
  <% end %>
</ul>

 <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail)  %>
  <%= link_to 'Back to home', cocktails_path %>

