<h2>Add a dose</h2>
<%= simple_form_for [@cocktail, @dose] do |t| %>
  <% if @dose.errors.any? %>
  <% @dose.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<%= t.input :ingredient_id, collection: Ingredient.all, prompt: "Chooose one" %>
<%= t.input :description, placeholder: "3cl" %>
<%= t.submit %>
<% end %>
